<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th width="20%">SH(16) Name</th>
            <th width="25%">Name</th>
            <th width="25%">Description</th>
            <th width="10%">Status</th>
            <th width="20%">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.SH16 != null)
        {

            foreach (var info in ViewBag.SH16)
            {
        <tr>
            <td>@info.SHName</td>
            <td>@info.Name</td>
            <td>@info.Description</td>
            <td>
                @(info.IsActive == true ? "Active" : "Inactive")

            </td>
            <td>
                @if (info.IsDeleted != true)
                {
                    <a href="@Url.Action("EditSH16", "Admin", new { @id = info.ID })" class="btn btn-primary btn-xs">Edit</a>
                    @*<a class="btn btn-danger btn-xs">De-Activate</a>
                <a class="btn btn-success btn-xs">Activate</a>*@
                    <a data-exclude="true" href="javascript:void(0)" onclick="return DeleteSH16(@info.ID);" class="btn btn-primary btn-xs" style="background-color:red;border-color:red"> Delete</a>
                }
            </td>
        </tr>
            }
        }



    </tbody>
</table>