@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}

<style>
    img {
        border: none;
        vertical-align: top;
        width: auto;
        max-width: 100%;
    }

    li {
        position: relative;
    }

    .logo {
        display: none !important;
    }

    .navItem {
        display: none !important;
    }

    .topFooter {
        display: none !important;
    }

    .footerCon {
        display: none !important;
    }

    .topPadding {
        padding-top: 52px !important;
    }
</style>
<center>
    <div class="topPadding">
        <div class="@(ViewBag.Message != null ? ViewBag.MessageType == "success" ? "successMsgDiv" : "errorMsgDiv" : "")">
            <span>@ViewBag.Message</span>
        </div>
        @using (Html.BeginForm("PasswordUserReset", "Home", FormMethod.Post))
        {

            <input type="hidden" name="verifier" value="@ViewBag.Verifier" />
            <input type="hidden" name="email" value="@ViewBag.UserEmail" />
            <input type="hidden" name="flag" value="@ViewBag.Flag" />

            <div class="clearfix"></div>
            <img src="@Url.Content("~/content/frontend/images/logo.png")" class="loginLogo" />
            <br />
            <div class="loginConNew">
                <center><h4 style="padding-bottom:10px;">  Welcome to EnrollMyGroup.</h4> </center>
                <p style="text-align:left;">Setup a password for your login id </p>
                <p style="text-align:left;"> So we can get started.</p>
                <br />
                <div class="clearfix"></div>
                <ul>
                    <li>
                        <input type="text" name="Email or Phone" value=@ViewBag.UserEmail class="inputTxt1" readonly />
                    </li>
                    <li>
                        <input type="password" placeholder="New Password" name="Email" id="resetPassword" class="inputTxt1" />
                        <a href="javascript:void(0)" class="tooltipBox tooltipBox2">
                            <img src="~/Content/Frontend/images/info.png" />
                            <span>
                                <img src="~/Content/Frontend/images/toolLeft.png" class="lefttooltip" alt="">
                                <img src="~/Content/Frontend/images/tooltip.png" alt="" class="kid">

                                <p> Passwords must be at least 8 characters in length and must contain at least 3 of the following 4 types of characters:</p>
                                <p>1. Lowercase letters (i.e. a-z)</p>
                                <p>2.  Uppercase letters (i.e. A-Z)</p>
                                <p style="margin-right:60px;">3. Numbers (i.e. 0-9)    </p>
                                <p>4. Special characters @Html.Raw(@" (e.g. -=[]\;,./~!@#$%^&amp;*()_+{}|:&lt;&gt;?)")</p>


                            </span>
                        </a>
                    </li>

                    <li>
                        <input type="password" placeholder="Confirm Password" name="Password" id="resetConfirmPassword" class="inputTxt1" />

                    </li>

                    <li>

                        <input type="submit" value="Create Password" class="btn signin" id="btnResetPassword" />
                        <br />
                        <div class="clearfix">
                            <center><span id="result"></span></center>
                        </div>
                    </li>



                </ul>

            </div>



        }
    </div>
</center>
