@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}

<style>
    .topPadding {
        padding-top: 60px;
    }
        .topPadding form {
            padding:25px 0;
        }
</style>
<!--banner-->

<div class="clientsection" id="botm">
  

    <div class="topPadding">
        <h2>Welcome to Enroll My Group.</h2>
        @using (Html.BeginForm("PasswordReset", "Home", FormMethod.Post))
        {

            <div class="@(ViewData["Message"] != null ? ViewData["MessageType"] == "success" ? "successMsgDiv" : "errorMsgDiv" : "")">
                <span>@ViewData["Message"]</span>
            </div>
           
                  <input type="hidden" name="verifier" value="@ViewBag.Verifier" />
                <input type="hidden" name="email" value="@ViewBag.UserEmail" />
                <input type="hidden" name="flag" value="@ViewBag.Flag" />

            <div class="loginCon">
                    <ul>
                        <li><input type="text" name="Email" value=@ViewBag.UserEmail class="inputTxt1-new" readonly /></li>
                        <li><input type="password" placeholder="New Password" name="Email" id="resetPassword" class="inputTxt1-new" /></li>
                        <li><input type="password" placeholder="Confirm Password" name="Password" id="resetConfirmPassword" class="inputTxt1-new" /></li>

                        <li style="text-align: -webkit-center">
                        <input type="submit" value="Create Password" class="btn signin create-pwd" id="btnResetPassword" style="text-align: -webkit-center" /></li>

                    </ul>

                </div>
            
        }

    </div>
</div>





<!--banner-->

